[user]
	name = Adam Jonas
	email = adamjonas25@gmail.com
[core]
	autocrlf = input
	safecrlf = true
    excludesfile = /Users/adamjonas/.config/git/.gitignore_global
	editor = /usr/local/bin/vim
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
